qemu/lib
qemu/share
qemu/*.dll
qemu/COPYING*
qemu/*.exe
qemu/*.rst
qemu/VERSION
gcc/bin
gcc/i686-elf
gcc/include
gcc/lib
gcc/libexec
gcc/share
mykernel.elf
*.o
initfs/*.elf
initfs.tar
initramfs.c
.vscode
*.iso
isodir
hdd